/* :: pong_stylesheet :: */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

*{ margin:0; padding:0; box-sizing: border-box; }

:root{
    font-family: 'Press Start 2P', monospace;
    font-size: 100%;
}

body{ 
    width: 100%;
    height: 100%;
    margin: 1em auto;
    background-color: black;
}


h1{
    color: white;
    font-size: 3.4rem;
    text-align: center;
    margin: 2rem;
}

.display{ 
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-basis: auto;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-grow: inherit;
    flex-shrink: inherit;
    gap: 1rem;
}

.canvas_wrap{ 
    display: flex;
    max-width: 140%;
    flex-direction: row;
    flex-basis: auto;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:center;
    align-content: normal;
    flex-grow: inherit;
    flex-shrink: inherit;
}

#canvas_pong{ 
    margin: 1em;
    width: 58%;
    height: 24%;
    border: 0.15rem solid white;
    background-color: black;}

.score{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 1rem;
}
#score_mid{
    color:white;
}
#playerOne{
    color: white;
}
#playerTwo{
    color: white;
}

.key{
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
}

.button{ 
    width: 8rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    padding: 0.8rem;
    font-family: 'Press Start 2P', monospace;
    border: 0.05rem solid white;
    background-color: transparent;
}

.control{ 
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    border: 0.1rem solid white;
    background-color: transparent;
}
#leftUp:active{
    color: yellow;
    border: 0.05rem solid yellow;
}
#leftDown:active{
    color: yellow;
    border: 0.05rem solid yellow;
}
#rightUp:active{
    color: aqua;
    border: 0.05rem solid aqua;
}
#rightDown:active{
    color: aqua;
    border: 0.05rem solid aqua;
}

.control_wrap{ 
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.6rem;
    max-width: 100%;
}

.right_control_up{
    grid-area: 1/ 3/ 1/ 4;
}
.right_control_down{
    grid-area: 2/ 3/ 2/ 4;
}

.left_control_up{
    grid-area: 1/ 2/ 1/ 3;
}
.left_control_down{
    grid-area: 2/ 2/ 2/ 3;
}


.start_wrap {
    grid-area: 3/ 2/ 4/ 3;
}
.reset_wrap {
    grid-area: 3/ 3/ 3/ 4;
}

.start_wrap, .reset_wrap{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-grow: inherit;
    flex-shrink: inherit;
    margin: 0.5rem;
    max-width: 100%;
    gap: 4rem;
}
#reset:active{ color: red; border: 0.025rem solid red;}
#start:active{ color: rgb(83, 255, 83); border: 0.025rem solid rgb(83, 255, 83);}



/* :::: MEDIA QUERIES :::: */
@media only screen and (max-width: 750px) {

    #canvas_pong{ 
        margin: 1em;
        width: 90%;
        height: 60%;
    }
}

@media only screen and (max-width: 424px) {

    h1{
        color: white;
        font-size: 2rem;
    }
    
    .score{
        font-size: 1rem;
    }

    .key{
        font-size: 1rem;
    }
    
    .button{ 
        font-size: 0.6rem;
    }
}

